### Приколы

In [ ]:
!pip install mysql-connector-python
!pip install prettytable
!pip install pandas

import mysql.connector
from prettytable import from_db_cursor
import pandas as pd

Collecting mysql-connector-python
  Downloading https://files.pythonhosted.org/packages/de/f7/b783b60a3bd8aea348990c60fb0b3ed2f843c6f40ad29e37a89a5d50d7a3/mysql_connector_python-8.0.23-cp37-cp37m-manylinux1_x86_64.whl (18.0MB)
     |████████████████████████████████| 18.1MB 248kB/s
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.12.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (53.0.0)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.23
Requirement already satisfied: prettytable in /usr/local/lib/python3.7/dist-packages (2.0.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prettytable) (0.2.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from prettytable) (53.0.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
cnx = mysql.connector.connect(user='hackathon', 
                              password='flK8DrGBOL',
                              host='62.205.160.170',
                              database='urait_mssql', 
                              port='6630')

cursor = cnx.cursor(buffered=True,dictionary=True)

## **Списки данных**

In [ ]:
cursor.execute("""SELECT quiz_id FROM quiz_users 
                    WHERE ebs_user_id = '71116810-A5E6-4079-B31C-1A525510C543'""")
df = cursor.fetchall()
pd.set_option('display.max_rows', 10)
pd.DataFrame(df)

                                quiz_id
0  8F284EC6-E47E-4036-BF98-D4CC128610EB
1  13F3C1B1-C21B-4FC0-8C6E-D0EA23CC9D15
2  13F3C1B1-C21B-4FC0-8C6E-D0EA23CC9D15

In [ ]:
cursor.execute("""SELECT ebs_user_id FROM quiz_users LIMIT 5""")
df = cursor.fetchall()
pd.set_option('display.max_rows', 10)
pd.DataFrame(df)

                            ebs_user_id
0  71116810-A5E6-4079-B31C-1A525510C543
1  FF403515-DC85-4920-BC65-148B36318C02
2  85FD103C-CEDF-4147-95EC-44A213EFD486
3  85FD103C-CEDF-4147-95EC-44A213EFD486
4  1BB890C1-02CB-403B-B4E7-6A0A129878DB

In [ ]:
cursor.execute("""SELECT DISTINCT main_partner_id FROM users_market_depart""")
df = cursor.fetchall()
pd.set_option('display.max_rows', 10)
pd.DataFrame(df)

                           main_partner_id
0                                     None
1     000D2A19-24DE-442B-AD0F-E355E2F1FF51
2     00213ECB-8D51-4113-BAC5-38F66B254F0B
3     002754BB-DA6E-44F7-8A6A-6BC58750EB0B
4     003459A3-6803-44F2-9D56-0A071B10E90A
...                                    ...
5330  FFC1D155-3FB6-4C59-8FEB-C127B2A7AF96
5331  FFD6C4B0-CF0D-44D8-958B-44D0AC33F6ED
5332  FFE0B35C-FD2A-4070-90C3-018195E8EB3F
5333  FFE0FBBC-FF1C-4E8F-8054-B138A1EB7A54
5334  FFE97B16-71AA-47C2-AA40-06550C41A5FA

[5335 rows x 1 columns]

In [ ]:
cursor.execute("""SELECT DISTINCT depart_partner_id FROM users_market_depart""")
df = cursor.fetchall()
pd.set_option('display.max_rows', 10)
pd.DataFrame(df)

                          depart_partner_id
0                                      None
1      0005AF2A-EC6C-4DFB-9F4C-33C652B4EAF2
2      00069AE2-10B2-475F-A99F-8BAE83A600C6
3      000A6813-B281-4EA7-9FB3-5AB9C9E71D11
4      000F41EB-7FEB-4803-ACF1-C61E559C723C
...                                     ...
18014  FFE9E23A-6381-47D9-B522-A14B23D57142
18015  FFEBD0C8-37FD-4193-A965-453C6A973857
18016  FFF04470-62B2-4C89-B59A-643AFDFF7418
18017  FFF856EF-B120-4490-8E7C-06C109A4EADB
18018  FFFE3FCB-5B01-4657-B4B8-96A82E6FAF71

[18019 rows x 1 columns]

In [ ]:
cursor.execute("""SELECT ebs_user_id FROM quiz_users LIMIT 10""")
df = cursor.fetchall()
pd.set_option('display.max_rows', 10)
pd.DataFrame(df)

                            ebs_user_id
0  71116810-A5E6-4079-B31C-1A525510C543
1  FF403515-DC85-4920-BC65-148B36318C02
2  85FD103C-CEDF-4147-95EC-44A213EFD486
3  85FD103C-CEDF-4147-95EC-44A213EFD486
4  1BB890C1-02CB-403B-B4E7-6A0A129878DB
5  1BB890C1-02CB-403B-B4E7-6A0A129878DB
6  1BB890C1-02CB-403B-B4E7-6A0A129878DB
7  1BB890C1-02CB-403B-B4E7-6A0A129878DB
8  1BB890C1-02CB-403B-B4E7-6A0A129878DB
9  1BB890C1-02CB-403B-B4E7-6A0A129878DB

In [ ]:
cursor.execute("""SELECT quiz_id FROM quiz_users 
                WHERE ebs_user_id = 'FF403515-DC85-4920-BC65-148B36318C02'""")
df = cursor.fetchall()
pd.set_option('display.max_rows', 10)
pd.DataFrame(df)

                                quiz_id
0  867361CE-0FA5-4031-92C0-A33760330AAC

In [ ]:
cursor.execute("""SELECT DISTINCT reader_id FROM new_stats LIMIT 10""")
df = cursor.fetchall()
pd.set_option('display.max_rows', 10)
pd.DataFrame(df)

                              reader_id
0  00001BC6-FAC0-44CA-B2B5-B76ABBCF130F
1  00003052-D3BC-4965-9239-3BEE91FED0A1
2  00007AA8-AA94-4ECC-8302-589C57F28232
3  00007F8B-D3F1-45E5-87BC-8474A06A1513
4  0000A335-29AB-45C2-9C23-F7FE252A1A51
5  0000B844-1164-4C50-8C5F-4728A13CF7A1
6  0000F1DE-F492-4666-B260-791755DD45D0
7  00010DE8-1705-4275-B121-7A74C6579BDD
8  0001448B-E632-4EA4-B9E3-F8121B4C8512
9  00016EEF-0167-4807-8FF5-82CCE835499C

In [ ]:
cursor.execute("""SELECT DISTINCT content_id FROM new_stats 
                WHERE reader_id = '00003052-D3BC-4965-9239-3BEE91FED0A1'""")
df = cursor.fetchall()
pd.set_option('display.max_rows', 10)
pd.DataFrame(df)

                             content_id
0  671098D1-D1B6-49BC-B87D-E2C46DE986EB
1  CF1CBCEB-256E-41D5-869D-5154C6E2EFAB
2  A9473610-9871-4DC1-B59A-F2A9CB078EE9
3  E4D984D7-C8E2-419E-A1E9-A49F2F0201EE
4  AA6DD61A-4578-4D32-891E-B6682DB21B61
5  E99D29EA-0768-4A97-8E3E-DCB57C9C636C
6  B591CFC9-B147-44A6-B831-049048161685
7  8BF06045-3DB4-44B9-8468-0A022B2DEFDF
8  F9B6FA70-377F-42DE-B17A-A8FC0CAC4177

In [ ]:
cursor.execute("""SELECT DISTINCT course_id FROM courses""")
df = cursor.fetchall()
pd.set_option('display.max_rows', 10)
pd.DataFrame(df)

                                  course_id
0      0007A73E-B577-4928-A044-8295D9B119EC
1      0010383D-76D2-4936-97C6-BA42E2DAAF57
2      001FC87A-12DB-493A-BA97-FA37B2EC9FCF
3      003DBB53-CFAB-4D00-BD5D-D13AC9004FC6
4      005DDF2C-21FD-4565-BE54-A2969B4A966C
...                                     ...
11032  FF56E6D9-E398-4F73-8E37-757145393477
11033  FF63268C-0081-4731-B599-57B1A5247C0B
11034  FF70764D-1BCF-46B9-BC54-F7325A368FCF
11035  FF79337F-84D9-41D7-A3F3-854B0D5140E0
11036  FFC6D037-663F-4B48-A937-3F59622A3BE2

[11037 rows x 1 columns]

In [ ]:
cursor.execute("""SELECT quiz_id FROM quiz_users 
                WHERE ebs_user_id = 'FF403515-DC85-4920-BC65-148B36318C02'""")
df = cursor.fetchall()
pd.set_option('display.max_rows', 10)
pd.DataFrame(df)

                                quiz_id
0  867361CE-0FA5-4031-92C0-A33760330AAC

In [ ]:
cursor.execute("""SELECT DISTINCT ebs_user_id FROM quiz_users WHERE quiz_id != 'None' LIMIT 15""")
df = cursor.fetchall()
pd.DataFrame(df)

                             ebs_user_id
0   71116810-A5E6-4079-B31C-1A525510C543
1   FF403515-DC85-4920-BC65-148B36318C02
2   85FD103C-CEDF-4147-95EC-44A213EFD486
3   1BB890C1-02CB-403B-B4E7-6A0A129878DB
4   F117DD49-BD02-4E3D-8021-46F0657AD359
..                                   ...
10  B5FDCD6E-556F-442D-A437-A804B4D8CA06
11  ABE16580-202A-483E-A467-7E8A99082911
12  91E721C9-7D70-4278-9955-1709034FAF02
13  8C248C60-FD2F-43DC-B20E-3A745E3D8AA7
14  418F70E9-F84F-4CDF-A91B-727D238028ED

[15 rows x 1 columns]

In [ ]:
cursor.execute("""SELECT * FROM quiz_users""")
df = cursor.fetchall()
pd.DataFrame(df)

        quiz_user_id  ...           finish_at
0                  2  ... 2018-07-03 13:10:10
1                  3  ... 2018-07-03 15:18:07
2                  4  ... 2018-07-04 15:34:47
3                  5  ... 2018-07-04 15:36:01
4                  7  ...                 NaT
...              ...  ...                 ...
356980        357107  ... 2020-09-21 01:13:17
356981        357108  ... 2020-09-21 01:12:58
356982        357109  ... 2020-09-21 01:16:15
356983        357110  ... 2020-09-21 01:16:42
356984        357111  ...                 NaT

[356985 rows x 9 columns]

## Методы

###Получение ID всех пользователей в данном регионе

*   Новый пункт
*   Новый пункт

In [ ]:
def getUsersByRegionCode(region = int):
  cursor.execute(f"""SELECT * FROM users_market_depart 
                  WHERE main_partner_id IN (SELECT partner_id FROM Partners 
                      WHERE town_id IN (SELECT town_id FROM Towns 
                          WHERE reg_kod IN (SELECT reg_kod FROM Regions 
                              WHERE reg_kod = {region})))""")
  return cursor.fetchall()

###Получение ID всех пользователей в данном городе

*   Новый пункт
*   Новый пункт

In [ ]:
def getUsersByTownId(town = int):
  cursor.execute(f"""SELECT * FROM users_market_depart 
                  WHERE main_partner_id IN (SELECT partner_id FROM Partners 
                      WHERE town_id = {town})""")
  return cursor.fetchall()

###Получение ID всех пользователей в данном универе

In [ ]:
def getUsersByMainPartnerId(partner = str):
  cursor.execute(f"""SELECT * FROM users_market_depart
                  WHERE main_partner_id = '{partner}'""")
  return cursor.fetchall()

###Получение ID всех пользователей на данном факультете

In [ ]:
def getUsersByDepartPartnerId(partner = str):
  cursor.execute(f"""SELECT * FROM users_market_depart
                  WHERE depart_partner_id = '{partner}'""")
  return cursor.fetchall()

###Получение времени и кол-ва страниц, которые прочитал данный пользователь

In [ ]:
def getReadingTimeAndPagesCount(studentId = str, courseId = None):
  totalTime = 0
  totalPages = 0

  if courseId == None:
    cursor.execute(f"""SELECT dateofviewing, closedate, first_page, last_page FROM new_stats 
                    WHERE reader_id = '{studentId}'""")
  else:
    cursor.execute(f"""SELECT dateofviewing, closedate, first_page, last_page FROM new_stats 
                    WHERE reader_id = '{studentId}' AND content_id = '{courseId}'""")
    
  readingData = cursor.fetchall()
  for record in readingData:
    if readingData[0]['closedate'] != None and readingData[0]['dateofviewing'] != None:
      totalTime += (readingData[0]['closedate'] - readingData[0]['dateofviewing']).seconds
    totalPages += readingData[0]['last_page'] - readingData[0]['first_page']
  if totalTime > 0 and totalPages > 0:
    return totalTime/totalPages
  else:
      return None

### Получение количества цитат + закладок по курсу

In [ ]:
def getBookmarksCount(studentId = str, courseId = None):
    if courseId == None:
        cursor.execute(f"""SELECT * FROM bookmarks WHERE user_id = '{studentId}'""")
    else:
        cursor.execute(f"""SELECT * FROM bookmarks WHERE user_id = '{studentId}' AND content_id = '{courseId}'""")
    
    bookmarks = cursor.fetchall()
    if(bookmarks != None): return len(bookmarks)
    else: return None

### Получить время просмотра и прослушивания материалов

In [ ]:
def getTimeViewingAndListeningMaterials(studentId = str, courseId = None):
    totalTime = 0
    materials1 = None
    materials2 = None

    if courseId == None:
        cursor.execute(f"""SELECT source_start, source_end FROM materials
                        WHERE material_id IN (SELECT material_id FROM material_stats 
                            WHERE viewer_id = '{studentId}')""")
        materials1 = cursor.fetchall()

        cursor.execute(f"""SELECT dateofviewing, close_date FROM material_stats
                        WHERE viewer_id = '{studentId}'""")
        materials2 = cursor.fetchall()

    else:
      cursor.execute(f"""SELECT source_start, source_end FROM materials
                        WHERE material_id IN (SELECT material_id FROM material_stats 
                            WHERE viewer_id = '{studentId}' AND content_id = '{courseId}')""")
      materials1 = cursor.fetchall()

      cursor.execute(f"""SELECT dateofviewing, close_date FROM material_stats
                        WHERE viewer_id = '{studentId}' AND content_id = '{courseId}'""")
      materials2 = cursor.fetchall()
    materials1 = cursor.fetchall()
    for record in materials1:
        if len(materials1) > 0 and materials1[0]['source_start'] != None and materials1[0]['source_end'] != None:
            totalTime += materials1[0]['source_end'] - materials1[0]['source_start']
    
    for record in materials2:
        if len(materials2) > 0 and materials2[0]['close_date'] != None and materials2[0]['dateofviewing'] != None:
            totalTime += (materials2[0]['close_date'] - materials2[0]['dateofviewing']).seconds

    return totalTime

### Получить процент завершения теста

In [ ]:
def getFormativeTestCompletion(studentId = str, testId = str):
    cursor.execute(f"""SELECT score, total_score FROM quiz_users
                    WHERE ebs_user_id = '{studentId}' AND quiz_id = '{testId}'""")
    completion = cursor.fetchall()
    lastTryIndex = len(completion) - 1
    if lastTryIndex >= 0 and completion[lastTryIndex]['score'] != None \
                         and completion[lastTryIndex]['total_score'] != None:
        return completion[lastTryIndex]['score'] \
        / completion[lastTryIndex]['total_score'] * 100

### Получить рейтинг студента (общий / в рамках курса)

In [ ]:
def getStudentCourseRating(studentId = str, courseId = None):
  result = 0
  testsCount = 0

  if courseId == None:
    cursor.execute(f"""SELECT DISTINCT quiz_id FROM quiz_users 
                    WHERE ebs_user_id = '{studentId}'""")
  else:
    cursor.execute(f"""SELECT DISTINCT quiz_id FROM quiz_users
                      WHERE ebs_user_id = '{studentId}' 
                        AND quiz_id IN (SELECT data_id FROM quiz_users_share
                          WHERE data_id IN (SELECT course_id FROM courses
                            WHERE course_id = '{courseId}'))""")
  tests = cursor.fetchall()
  for test in tests:
    score = getFormativeTestCompletion(studentId, test['quiz_id'])
    if score != None:
      result += score
      testsCount += 1
  return result / testsCount if testsCount > 0 else 0

### Получить инфу о добавлении студента в группу препода

In [ ]:
def getInfoAboutStudentGroup(studentId = str):
    cursor.execute(f"""SELECT status FROM student_groups WHERE ebs_user_id = '{studentId}'""")

    status = cursor.fetchall()
    if status != []:return status[0]['status']
    else: return 0

### Отправил ли студент преподу результаты теста

In [ ]:
def getInformationAboutTeacherTests(studentId = str):
    cursor.execute(f"""SELECT * FROM quiz_users_share WHERE ebs_user_id = '{studentId}'""")
    status = cursor.fetchall()
    return len(status)

### Участвовал ли студент в вебинарах

In [ ]:
def getInfAboutParticipationInWebinar(studentId = str):
    cursor.execute(f"""SELECT is_visited, certificate_id FROM news_event_registration 
                    WHERE ebs_user_id = '{studentId}'""")
    visits = cursor.fetchall()

    countVisits = 0
    countCertificates = 0
    for visit in visits:
        countVisits += 1
        if visit['certificate_id'] != None: countCertificates += 1

    return {'countVisited': countVisits, 'countCertificates': countCertificates}

### Участвовал ли студент в конференциях

In [ ]:
def getInfAboutParticipationInConferences(studentId = str):
    cursor.execute(f"""SELECT partner_id FROM teacher_school_members 
                    WHERE ebs_user_id = '{studentId}'""")
    
    visits = cursor.fetchall()
    return len(visits)

###Балл за финальный экз

In [ ]:
def getFinalExamScore(studentId = str, courseId = None):
    result = 0

    if courseId == None: 
        cursor.execute(f"""SELECT score, total_score FROM final_quiz_users 
                    WHERE ebs_user_id = '{studentId}'""")
        
    else: 
      cursor.execute(f"""SELECT score, total_score FROM final_quiz_users 
                    WHERE ebs_user_id = '{studentId}' AND data_id = '{courseId}'""")
    
    scores = cursor.fetchall()

    if scores == []: return None
    for score in scores:
      if score[0]['score'] != None and score[0]['total_score'] != None:
        result += score[0]["score"] / score[0]["total_score"] * 100

    return result

##Тесты

In [ ]:
pd.set_option('display.max_rows', 10)
pd.DataFrame(getUsersByTownId(20))

                               ebs_user_id  ...                     depart_partner_id
0     B53C9E2E-885E-4527-8435-29629E12609F  ...                                  None
1     70B6BB5B-3262-4AE0-A8DE-4633FBD804D2  ...                                  None
2     985827D1-3B5D-42AF-A3FF-5361392485EB  ...  6D31D669-91BE-4CB4-BFF2-4AD6437682C9
3     3516C38B-B9E0-4E1E-9E69-2DA2967C9735  ...  6D31D669-91BE-4CB4-BFF2-4AD6437682C9
4     35D1E197-B9F5-4081-8F02-33F460079B91  ...  6D31D669-91BE-4CB4-BFF2-4AD6437682C9
...                                    ...  ...                                   ...
2367  32DECCBE-C03F-424C-9351-4D69F8825EE2  ...                                  None
2368  8E4D3A40-DFB2-4F04-A2D6-8E1D6CC7AB78  ...                                  None
2369  312521BB-5405-4D54-A2AB-B60D43A337F9  ...                                  None
2370  31D86D46-F112-4F44-9AB9-5D3F0F6E5F91  ...                                  None
2371  3F8725B8-E5B7-45AB-BE02-4BBF6F3BC64D  ...                                  None

[2372 rows x 6 columns]

In [ ]:
pd.set_option('display.max_rows', 10)
pd.DataFrame(getUsersByRegionCode(4))

                              ebs_user_id  ...  depart_partner_id
0    038E6897-055E-4E8A-8E66-79238A8E4263  ...               None
1    256BC5E4-3446-4137-B5B5-54200333DDC1  ...               None
2    913AC406-E785-4FE7-9D55-F9D203561B35  ...               None
3    E538A7EA-98CA-4AC2-8205-C0CBAEEA2B10  ...               None
4    3F9569A2-A180-4483-B819-1170CECA5D9A  ...               None
..                                    ...  ...                ...
268  3267BE9B-78CA-45DC-8BD8-6E73C5745063  ...               None
269  E904F426-3143-4A3A-9415-45851DE2FB88  ...               None
270  A29D1E01-80D5-48A8-B71D-0A4CDBBDB3B6  ...               None
271  84748937-0C43-4BBB-87C0-A31777E59B89  ...               None
272  E1973A59-E304-4590-8178-54A4E57C10A9  ...               None

[273 rows x 6 columns]

In [ ]:
pd.set_option('display.max_rows', 10)
pd.DataFrame(getUsersByMainPartnerId("FFE97B16-71AA-47C2-AA40-06550C41A5FA"))

                             ebs_user_id  ...  depart_partner_id
0   7F196572-9F04-46F0-A013-EF8C43C0B361  ...               None
1   26013A7D-FE2B-4D75-9D24-80492B1DA4D0  ...               None
2   05586E13-8732-4A75-B9E2-AB19D9AD84DA  ...               None
3   D66547ED-5EBC-478E-B48E-8032D7CDD78B  ...               None
4   02B1E507-18EE-4CBE-B032-1EAC1C9E9983  ...               None
..                                   ...  ...                ...
8   4D10DD2B-31AA-412B-B917-4DA3ABC8A4CF  ...               None
9   7A406C65-6B79-426E-9026-7248EF8F8CCA  ...               None
10  5493B090-9376-4CC8-ADDD-EFBB392A4061  ...               None
11  23776DB4-591F-4B1E-B054-2555E4788CF1  ...               None
12  32B0AD24-1BCE-49E0-A465-35C6CBDDE5A9  ...               None

[13 rows x 6 columns]

In [ ]:
pd.set_option('display.max_rows', 10)
pd.DataFrame(getUsersByDepartPartnerId("FFE9E23A-6381-47D9-B522-A14B23D57142"))

                             ebs_user_id  ...                     depart_partner_id
0   52AFB313-0BAB-46D3-BA8F-868D262BB02F  ...  FFE9E23A-6381-47D9-B522-A14B23D57142
1   34969186-C514-46F7-B552-5D1686842158  ...  FFE9E23A-6381-47D9-B522-A14B23D57142
2   6556C879-7340-4F6E-8484-0A0AD3E0AF35  ...  FFE9E23A-6381-47D9-B522-A14B23D57142
3   0CDCC182-A71F-47FD-9C63-192B9B33344C  ...  FFE9E23A-6381-47D9-B522-A14B23D57142
4   A330274B-4B73-4C07-AC53-35EB0F9A6B2D  ...  FFE9E23A-6381-47D9-B522-A14B23D57142
..                                   ...  ...                                   ...
6   0EDB5E6C-6EBE-4501-976D-04C01112E6BD  ...  FFE9E23A-6381-47D9-B522-A14B23D57142
7   723F7689-A247-4DBA-A3A1-98F891F4AF7B  ...  FFE9E23A-6381-47D9-B522-A14B23D57142
8   5FB7A61B-EA61-4C21-82F3-755D2DD220EE  ...  FFE9E23A-6381-47D9-B522-A14B23D57142
9   1F5E9507-15D3-45E4-AD19-DAD540C825CD  ...  FFE9E23A-6381-47D9-B522-A14B23D57142
10  508AC1A4-0C83-4893-8CAA-E465D2A2E5C4  ...  FFE9E23A-6381-47D9-B522-A14B23D57142

[11 rows x 6 columns]

In [ ]:
# cursor.execute("""SELECT DISTINCT reader_id FROM new_stats LIMIT 50""")
# records = cursor.fetchall()

# for rec in records:
#   data = getReadingTimeAndPagesCount(rec['reader_id'])
#   if data != None:
#     print("User ID:", rec['reader_id'], "Time:", data['time'], "Pages:", data['pages'])
#   else:
#     print("None")

In [ ]:
getFormativeTestCompletion('FF403515-DC85-4920-BC65-148B36318C02', 
                           '867361CE-0FA5-4031-92C0-A33760330AAC')

46.666666666666664

In [ ]:
# cursor.execute("""SELECT DISTINCT ebs_user_id FROM quiz_users""")
# users = cursor.fetchall()
# for user in users:
#   print('UserID:', user['ebs_user_id'])
#   print('Rating:', getStudentCourseRating(user['ebs_user_id']))
#   print('\n')

UserID: 71116810-A5E6-4079-B31C-1A525510C543
Rating: 15.0


UserID: FF403515-DC85-4920-BC65-148B36318C02
Rating: 46.666666666666664


UserID: 85FD103C-CEDF-4147-95EC-44A213EFD486
Rating: 100.0


UserID: 1BB890C1-02CB-403B-B4E7-6A0A129878DB

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 78))

KeyboardInterrupt: ignored

## Рейтинг

In [ ]:
dumpDF = pd.DataFrame(columns = ['user', 'BookmarksCount', 
                                         'Materials', 'CourseRating', 
                                         'StudentGroup', 'TeacherTests', 
                                         'InWebinarCer', 'InWebinarCnt', 
                                         'InConferences', 'Reading', 'SDA'])
dumpDF

Empty DataFrame
Columns: [user, BookmarksCount, Materials, CourseRating, StudentGroup, TeacherTests, InWebinarCer, InWebinarCnt, InConferences, Reading, SDA]
Index: []

In [ ]:
cursor.execute("""SELECT ebs_user_id FROM ebs_users 
                    WHERE ebs_user_id IN (SELECT ebs_user_id FROM users_market_depart
                    WHERE role_id = 3)
                        AND is_dead = 0
                        AND is_bot = 0
                            AND reg_date != 'NaT'
                            AND login_id != 'None'""")
users = cursor.fetchall()
users = pd.DataFrame(users)

In [ ]:
users

                                  ebs_user_id
0        00001BC6-FAC0-44CA-B2B5-B76ABBCF130F
1        00003052-D3BC-4965-9239-3BEE91FED0A1
2        000030F0-201E-4D41-B966-9A655B3C70AB
3        00003E07-2393-4B5D-8F95-74C0CA081BAE
4        00004875-C1C4-45A9-86A0-9CC63851D56E
...                                       ...
1174159  FFFFA5FC-68C9-4D4C-85D1-122F8C5616A9
1174160  FFFFB0CD-9851-4F1F-834E-1AF4BF097D23
1174161  FFFFB3A6-0CF3-4946-ADC6-3F2748E0F2C2
1174162  FFFFC989-5628-4143-978D-271BCA0B773F
1174163  FFFFF920-BEE9-45E6-99E0-16D094A1FB0C

[1174164 rows x 1 columns]

In [ ]:
%%time

cnt = -1
users_list = []
modifiers_list = [ 0.07, 0.004, 0.6, 4,
                  10, 0.5 * 0.3, 0.5 * 0.1, 0.5 * 0.2, 0.4 * 0.2 ]
for i in range(30, 50):
    user = users['ebs_user_id'][i]
    a = getBookmarksCount(user)
    b = getTimeViewingAndListeningMaterials(user)
    if a + b > 0:
        cnt += 1
        users_list.append(list())
        users_list[cnt].append(user)
        users_list[cnt].append(a)
        users_list[cnt].append(b)
        users_list[cnt].append(getStudentCourseRating(user))
        users_list[cnt].append(getInfoAboutStudentGroup(user))
        users_list[cnt].append(getInformationAboutTeacherTests(user))
        c, d = getInfAboutParticipationInWebinar(user)
        users_list[cnt].append(c)
        users_list[cnt].append(d)
        users_list[cnt].append(getInfAboutParticipationInConferences(user))
        users_list[cnt].append(getReadingTimeAndPagesCount(user))
        p = 0
        index = 0
        for i in users_list[cnt]:
            try:
                p += i * modifiers_list[index]
                index += 1
            except TypeError:
                continue
        users_list[cnt].append(p)
        



df = pd.DataFrame(users_list, columns = ['user', 'BookmarksCount', 
                                         'Materials', 'CourseRating', 
                                         'StudentGroup', 'TeacherTests', 
                                         'InWebinarCer', 'InWebinarCnt', 
                                         'InConferences', 'Reading', 'SDA'])
df

CPU times: user 35.2 ms, sys: 3.64 ms, total: 38.8 ms
Wall time: 16.4 s

In [ ]:
def GetASDRating(user_id):
    cnt = -1
    users_list = []
    modifiers_list = [ 0.07, 0.004, 0.6, 4,
                    10, 0.5 * 0.3, 0.5 * 0.1, 0.5 * 0.2, 0.4 * 0.2 ]
    user = user_id
    a = getBookmarksCount(user)
    b = getTimeViewingAndListeningMaterials(user)
    if a + b > 0:
        cnt += 1
        users_list.append(list())
        users_list[cnt].append(user)
        users_list[cnt].append(a)
        users_list[cnt].append(b)
        users_list[cnt].append(getStudentCourseRating(user))
        users_list[cnt].append(getInfoAboutStudentGroup(user))
        users_list[cnt].append(getInformationAboutTeacherTests(user))
        c, d = getInfAboutParticipationInWebinar(user)
        users_list[cnt].append(c)
        users_list[cnt].append(d)
        users_list[cnt].append(getInfAboutParticipationInConferences(user))
        users_list[cnt].append(getReadingTimeAndPagesCount(user))
        p = 0
        index = 0
        for i in users_list[cnt]:
            try:
                p += i * modifiers_list[index]
                index += 1
            except TypeError:
                continue
    return p

In [ ]:
def GetASDRatingByCourse(user_id, course_id):
    cnt = -1
    users_list = []
    modifiers_list = [ 0.07, 0.004, 0.6, 4,
                    10, 0.5 * 0.3, 0.5 * 0.1, 0.5 * 0.2, 0.4 * 0.2 ]
    user = user_id
    a = getBookmarksCount(user, course_id)
    b = getTimeViewingAndListeningMaterials(user, course_id)
    if a + b > 0:
        cnt += 1
        users_list.append(list())
        users_list[cnt].append(user)
        users_list[cnt].append(a)
        users_list[cnt].append(b)
        users_list[cnt].append(getStudentCourseRating(user, course_id))
        users_list[cnt].append(getInfoAboutStudentGroup(user))
        users_list[cnt].append(getInformationAboutTeacherTests(user))
        c, d = getInfAboutParticipationInWebinar(user)
        users_list[cnt].append(c)
        users_list[cnt].append(d)
        users_list[cnt].append(getInfAboutParticipationInConferences(user))
        users_list[cnt].append(getReadingTimeAndPagesCount(user, course_id))
        p = 0
        index = 0
        for i in users_list[cnt]:
            try:
                p += i * modifiers_list[index]
                index += 1
            except TypeError:
                continue
    return p

In [ ]:
print(GetASDRating('0001B454-1397-4DE6-A333-FC9096EEE52C'))

0.14

In [ ]:
df

                                   user  BookmarksCount  ...  Reading   SDA
0  0001B454-1397-4DE6-A333-FC9096EEE52C               2  ...     None  0.14
1  0001C256-19A4-4765-A517-9A9AFA442A14               2  ...     None  0.14
2  0001EDC4-D030-4824-8E42-FA743AE2507D              27  ...     None  1.89

[3 rows x 11 columns]

In [ ]:
dumpDF = dumpDF.append(df)
dumpDF = dumpDF.drop_duplicates()
dumpDF.sort_values('SDA',ascending=False)

                                   user BookmarksCount  ...  Reading        SDA
1  00007F8B-D3F1-45E5-87BC-8474A06A1513             93  ...  30.5833  58.159167
3  00010DE8-1705-4275-B121-7A74C6579BDD              0  ...  76.2308  57.595538
2  0001EDC4-D030-4824-8E42-FA743AE2507D             27  ...     None   1.890000
0  00003052-D3BC-4965-9239-3BEE91FED0A1              5  ...  10.9603   0.898013
2  0000F1DE-F492-4666-B260-791755DD45D0              0  ...  1.29825   0.480912
0  0001B454-1397-4DE6-A333-FC9096EEE52C              2  ...     None   0.140000
1  0001C256-19A4-4765-A517-9A9AFA442A14              2  ...     None   0.140000

[7 rows x 11 columns]

In [ ]:
def GetRatingInCurrentBase(user_id=str):
    try:
        sda = dumpDF[dumpDF['user'] == user_id]['SDA']
        return len(dumpDF[dumpDF['SDA'] > int(sda)])
    except TypeError:
        return None

In [ ]:
def GetRatingInCurrentBaseByLoaction(getUsersByLocation, user_id = str, region_id = int):
  try:
    usersInLocation = getUsersByLocation(region_id)
    sda = dumpDF[dumpDF['user'] == user_id]['SDA']
    return len(dumpDF[dumpDF['SDA'] > int(sda) and dumpDF['user'] in usersInLocation])
  except TypeError:
    return None

In [ ]:
def GetRatingInCurrentBaseByLocationAndCourse(getUsersByLocation, course_id = str, user_id = str, region_id = int):
  try:
    usersInLocation = getUsersByLocation(region_id)
    sda = dumpDF[dumpDF['user'] == user_id]['SDA']
    return len(dumpDF[dumpDF['SDA'] > int(sda) and dumpDF['user'] in usersInLocation])
  except TypeError:
    return None

In [ ]:
GetRatingInCurrentBase('0001B454-1397-4DE6-A333-FC9096EEE52C')

7

## Нормировка

### Вытянуть всех студентов из базы

In [ ]:
cursor.execute("""SELECT ebs_user_id FROM ebs_users 
                WHERE ebs_user_id IN (SELECT ebs_user_id FROM users_market_depart
                  WHERE role_id = 3)
                    AND is_dead = 0
                      AND is_bot = 0
                        AND reg_date != 'NaT'
                          AND login_id != 'None'""")
allStudents = cursor.fetchall()
pd.DataFrame(allStudents)]

### Максимум и минимум чтения текстовых материалов

In [ ]:
def getMinMaxOfReadingTime():
  min = 0
  max = 0
  for student in allStudents:
    data = getReadingTimeAndPagesCount(student['ebs_user_id'])
    pageTime = data['time'] / data['pages'] if data != None else 0
    print(pageTime)
    if pageTime > max:
      max = pageTime
    if pageTime < min:
      min = pageTime
  return [min, max]

data = getMinMaxOfCourseReadingTime('0007A73E-B577-4928-A044-8295D9B119EC')
print(data[0], data[1])